.pokemon-card {
    background-color: rgb(173, 170, 172);
    box-shadow: 28px 16px 14px -3px rgba(0,0,0,0.85);
    -webkit-box-shadow: 28px 16px 14px -3px rgba(0,0,0,0.85);
    -moz-box-shadow: 28px 16px 14px -3px rgba(0,0,0,0.85);
    border-radius: 10px;
}
 
.pokemon-card .card-top{
    background-color: rgb(83, 83, 83);
    padding: 30px 40px;
}
 
.pokemon-card .name{
    margin-bottom: 5px;
}
 
.pokemon-card .type{
    font-size: 12px;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: 28px 16px 14px -3px rgba(0,0,0,0.85);
    -webkit-box-shadow: 28px 16px 14px -3px rgba(0,0,0,0.85);
    -moz-box-shadow: 28px 16px 14px -3px rgba(0,0,0,0.85);
    border-radius: 10px;
}
 
.pokemon-card .details{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.pokemon-card .card-img{
    width: 350px;
    height: 350px;
    background-color: gray;
}
.pokemon-card img{
    max-height: 100%;
}
.pokemon-card .card-info{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 80px 30px 50px;
    margin: -30px; arruma dps
}
 
 