.listagem{
    max-width: 250px;
}
.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    background-color: #6b727a;
    color: aliceblue;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 0.15 ease-in-out;
    box-shadow: rgba(19, 19, 184, 0.2) 5px 15px 29px 20px;
    min-height: 70px;
}
.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}
.listagem .pokemon:hover{
    transform: scale(1.10);
}
.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}
.listagem .pokemon.ativo{
    background-color: #7b2cbf;
}