@media(max-width:750px){
    body{
        font-size: 12px;
    }
    .pokemon{
        flex-direction: column;
        padding: 30px 0;
    }
    .pokemon-cad{
        max-width: 300px;
    }
    .pokemon-cad .cad-img{
        width: 200px;
        height: 200px;
    }
}